body{
  margin:0;
  background-color:#F1F1F3;
  overflow:hidden;
}
nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  width:100%;
  align-items:center;
  flex-wrap: wrap;
}
header{
  width:100%;
  z-index: 3;
  border:8px;
  display:flex;
}
#logo{
flex:2;
display:flex;
justify-content:flex-start;
align-items:center;
width: 100%;
margin:5px;
}
#nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  flex:3;
  margin-right:2%;
  flex-wrap:wrap;
}
#logo img{
 width:180px;
}
#logo div{
  display:none;
  position:absolute;
  cursor:pointer;
}
#logo div img{
  width:30px;
  border:none;
  background:transparent;
}
#logo a{
  padding-left:23%;
}
#nav div{
margin-left: 2%;
margin-right: 2%;
justify-content: center;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display:flex;
flex-wrap: wrap;
flex-basis:20%;
padding-top:10px;
padding-bottom:10px;
}
#nav a{
  text-align:center;
  display:inline-block;
  font-size:1rem;
  font-family:lato;
  letter-spacing:3px;
  color:#000;
  padding:5px;
  padding-right:10px;
  padding-left:10px;
  cursor:pointer;
  font-weight:500;
  text-decoration:none;
  padding: 5px;
  flex-basis:100%;
  margin-bottom:4px;
}
#nav div span{
  width:0%;
  height:2px;
  background-color:#e67e22;
  position:relative;
  z-index:2;
  transition:width 0.3s;
  margin-top:-5px;
}
#nav div:nth-child(1) a:hover +span{
  width:100%;
}
#nav div:nth-child(2) a:hover +span{
  width:100%;
}

#nav div:nth-child(3) a{
  background-color:#2980b9;
  padding:8px;
  padding-right:15px;
  padding-left:15px;
  color:#fff;
  border-radius:8px;
  border:2px solid #2980b9;
  letter-spacing:2px;
}
#nav div:nth-child(4) a{
  background-color:#8e44ad;
  padding:8px;
  padding-right:15px;
  padding-left:15px;
  color:#f8f8ff;
  border-radius:8px;
  border:2px solid #8e44ad;
  letter-spacing:2px;
}
#nav div:nth-child(3) a:hover{
background-color:transparent;
color:#2980b9;
}
#nav div:nth-child(4) a:hover{
background-color:transparent;
color:#8e44ad;
}


/******intro******/


#intro{
  display:inline-flex;
  width:100%;
  position:relative;
  top:30vh;
  align-items:center;
  flex-wrap:wrap;
}
#read{
  display:flex;
  flex-basis:50%;
  padding-left:40px;
}
#intro #read h1{
  font-family:raleway;
  letter-spacing:2px;
  margin-bottom:0px;
  /*background-color:#171b17;*/
  color:#34495e;
  padding:10px;
  /*padding-left: 17px;*/
  /*padding-right:17px;*/
  font-size: 2.2rem;
  font-weight:medium;
  text-align: center;
}
#intro #read h3{
  margin-top:0px;
  font-weight: normal;
  font-family:ubuntu;
  letter-spacing:1px;
  line-height:30px;
  color:#474747;
}
#intro #read p{
  font-weight: normal;
  font-family:ubuntu;
  letter-spacing:1px;
   color:#474747;
}
#intro #readb{
  padding-left:20px;
  padding-right:20px;
}
#intro #read button{
  font-family:ubuntu;
  font-size: 1.2rem;
  letter-spacing:1px;
  border:none;
  background-color:#3498db;
  color:#fff;
  padding: 10px;
  padding-left:15px; 
  padding-right:15px;
  display: flex;
  align-items: center;
  font-weight:500;
}
#intro #read img{
  margin-right:10px;
  width:25px;
}
#intro #read button:hover{
  background-color:#2980b9;
}
#intro #read a{
 color: #3498db;
 text-decoration:none;
}
#intro #read a:hover{
  text-decoration:underline;
}
#images{
  flex-basis:30%;
}
#images .lap{
  top:-20vh;
  width:900px;
  position:absolute;
}
#images .screen{
  position: absolute;
  width:710px;
  top:-16vh;
  right:-50px;
}

