*{
  outline:none;
}
@font-face{
  font-family:heading;
  src:url('../fonts/DejaVuSans.ttf');
}
body{
  margin:0;
  background-color:#F1F1F3;
  overflow-x:hidden;
}
nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  width:100%;
  align-items:center;
  flex-wrap: wrap;
}
header{
  width:100%;
  z-index: 3;
  border:8px;
  display:flex;
}
#logo{
flex:2;
display:flex;
justify-content:flex-start;
align-items:center;
width: 100%;
margin:5px;
}
#nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  flex:3;
  margin-right:2%;
  flex-wrap:wrap;
}
#logo img{
 width:180px;
}
#logo div{
  display:none;
  position:absolute;
  cursor:pointer;
}
#logo div img{
  width:30px;
  border:none;
  background:transparent;
}
#logo a{
  padding-left:23%;
}
#nav div{
margin-left: 2%;
margin-right: 2%;
justify-content: center;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display:flex;
flex-wrap: wrap;
flex-basis:20%;
padding-top:10px;
padding-bottom:10px;
}
#nav a{
  text-align:center;
  display:inline-block;
  font-size:1rem;
  font-family:lato;
  letter-spacing:3px;
  color:#000;
  padding:5px;
  padding-right:10px;
  padding-left:10px;
  cursor:pointer;
  font-weight:500;
  text-decoration:none;
  padding: 5px;
  flex-basis:100%;
  margin-bottom:4px;
}
#nav div span{
  width:0%;
  height:2px;
  background-color:#e67e22;
  position:relative;
  z-index:2;
  transition:width 0.3s;
  margin-top:-5px;
}
#nav div:nth-child(1) a:hover +span{
  width:100%;
}
#nav div:nth-child(2) a:hover +span{
  width:100%;
}

#nav div:nth-child(3) a{
  background-color:#2980b9;
  padding:8px;
  padding-right:15px;
  padding-left:15px;
  color:#fff;
  border-radius:8px;
  border:2px solid #2980b9;
  letter-spacing:2px;
}
#nav div:nth-child(4) a{
  background-color:#8e44ad;
  padding:8px;
  padding-right:15px;
  padding-left:15px;
  color:#f8f8ff;
  border-radius:8px;
  border:2px solid #8e44ad;
  letter-spacing:2px;
}
#nav div:nth-child(3) a:hover{
background-color:transparent;
color:#2980b9;
}
#nav div:nth-child(4) a:hover{
background-color:transparent;
color:#8e44ad;
}


/******intro******/


#intro{
  display:inline-flex;
  width:100%;
  position:relative;
  top:30vh;
  align-items:center;
  flex-wrap:wrap;
}
#read{
  display:flex;
  flex-basis:50%;
  padding-left:40px;
}
#intro #read h1{
  font-family:heading;
  letter-spacing:2px;
  margin-bottom:0px;
  background-color:#171b17;
  color:#fff;
  padding:10px;
  padding-left: 10px;
  padding-right:10px;
  font-size: 2rem;
  font-weight:normal;
  text-align: center;
}
#intro #read h3{
  font-weight: normal;
  font-family:ubuntu;
  letter-spacing:1px;
  line-height:30px;
  color:#474747;
}
#intro #read p{
  font-weight: normal;
  font-family:ubuntu;
  letter-spacing:1px;
   color:#474747;
}
#intro #readb{
  width:95%;
  margin-left:5%;
  padding-right:10px;
}
#intro #read button{
  font-family:ubuntu;
  font-size: 1.2rem;
  letter-spacing:1px;
  border:none;
  background-color:#3498db;
  color:#fff;
  padding: 10px;
  padding-left:15px; 
  padding-right:15px;
  display: flex;
  align-items: center;
  font-weight:500;
}
#intro #read img{
  margin-right:10px;
  width:25px;
}
#intro #read button:hover{
  background-color:#2980b9;
}
#intro #read a{
 color: #3498db;
 text-decoration:none;
}
#intro #read a:hover{
  text-decoration:underline;
}
#images{
  flex-basis:30%;
}
#images .lap{
  top:-20vh;
  width:900px;
  position:absolute;
}
#images .screen{
  position: absolute;
  width:710px;
  top:-16vh;
  margin-left:100px;
}

#how{
  position: relative;
  top:50vh;
  width:100%;
}
#howhead{
  display: flex;
  justify-content:center;
}
#invite{
  display:flex;
  flex-wrap:wrap;
}
#inviteimg{
flex-basis:40%;
display: flex;
justify-content:center;
}
#invitetext{
  flex-basis:60%;
}
#interact{
  display:flex;
  flex-wrap: wrap;
}
#interacttext{
 flex-basis:60%;
}
#interactimage{
  flex-basis:40%;
}
#profesional{
  display:flex;
  flex-wrap: wrap;
}
#profesionaltext{
 flex-basis:60%;
}
#profesionalimg{
  display:flex;
  flex-basis:40%;
  justify-content:center;
}





















/***social,footer,contact***/
#foot{
  top:100vh;
  position:relative;
  background: linear-gradient(to right,#5C258D,#4389A2);
}
#social{
display:flex;
width:90%;
margin-left:5%;
justify-content:center;
flex-wrap:wrap;
font-family:ubuntu;
margin-bottom:50px;
position: relative;
}

#social .blocks{
background-color:#fff;
flex-basis:28%;
border-radius:4px;
margin-bottom:50px;
border:2.5px solid #696773;
padding:10px;
margin-left:12px;
margin-right:12px;
}
.social{
  flex-basis:100%;
  display:flex;
  justify-content:center;
}
.social h2{
  font-size:3rem;
  letter-spacing:1px;
  margin-bottom:100px;
  font-family:ubuntu;
  color:#fff;
  padding-top:15px; 
  padding-bottom:8px;
  padding-left:30px; 
  padding-right:30px;
  border-radius:3px;
  border-bottom:5px solid #fff;
  text-align: center;
}
.person img:nth-child(1){
  width:50px;
}
.person img:nth-child(2){
  width:10px;
}
#social .person{
display:flex;
justify-content:space-around;
}
#social .personin h3{
  color:#1D1E24;
  letter-spacing:1.3px;
  font-size: 1.3rem;
  font-weight:bold;
  margin-bottom:0px;
}
#social .personin h4{
  margin-top:5px;
  color:#9f9ea5;
  letter-spacing:2px;
  font-size: 1rem;
}
#social .personmes h3{
  color:#2d2f3a;
  font-size:1.3rem;
  font-weight:normal;
  letter-spacing:2px;
  margin-top:0px;
  text-align: center;
  line-height:27px;
}
#social .personmes{
  padding-left:5%;
  padding-right:5%;
}
#footer{
  background-color:#333;
  width:100%;
  display:flex;
  font-family:lato;
  justify-content:space-between;
  flex-wrap:wrap;
  position: relative;
}
#footer h1{
  font-size:1.45rem;
  letter-spacing:1px;
  border-bottom:3px dotted #0B517F;
  padding-bottom:10px;
  padding-left:5px;
  font-weight:400;
  color:#fff;
}
#footer div{
  flex-basis:22%;
  padding:15px;
}
#footer p{
  letter-spacing:1.2px;
  line-height:24px;
  font-size: 1rem;
  color: #fff;
}
#footer a{
  color:#fff;
  font-size: 1rem;
  display:block;
  padding-bottom:4px;
  border:0;
  border-bottom:1px dotted #CCCCCC;
  text-decoration:none;
}
#contactus p{
  display:flex;
}
#contactus a{
  border:none;
  cursor:pointer;
  padding-left:10px;
}
#contactus img{
  padding-left:4px; 
}
#startup a{
  border:none;
}
#startup img{
  margin-top:30px;
  margin-left:20px; 
}
#copyright{
  position: relative;
  width:100%;
  padding:8px;
  font-size: 1.1rem;
  padding-left:2%;
  background-color:#232323;
  font-family: roboto;
  letter-spacing:1px;
  text-decoration:none;
}
#copyright a{
   text-decoration:none;
   color:#fff;
   display:inline-block;
   line-height:30px;
}
#footer a:hover{
  color:#3498db;
}
#copyright a:hover{
  color:#3498db;
}
#copyright p{
  margin:0;
  color:#fff;
}
