*{
  z-index:2;
  outline:none;
}
nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  width:100%;
  height:100%;
}
header{
  width:100%;
  height:70px;
  z-index: 3;
  border:8px;
}
#logo{
flex:1;
display:flex;
justify-content:center;
align-items:center;
width: 100%;
height: 100%;
}
#nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  flex:3;
  margin-right:2%;
}
#logo img{
 width:200px;
}
#logo a{
  padding-left:23%;
}
#nav div{
margin-left: 2%;
margin-right: 2%;
justify-content: center;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display:flex;
flex-wrap:wrap;
}
#nav a{
  text-align:center;
  display:inline-block;
  font-size:1.1rem;
  font-family:lato;
  letter-spacing:3px;
  color:#000;
  padding:5px;
  padding-right:10px;
  padding-left:10px;
  cursor:pointer;
  font-weight:500;
  text-decoration:none;
}
#nav div span{
  width:0%;
  height:2px;
  background-color:#e67e22;
  position:relative;
  z-index:2;
  transition:width 0.3s;
  margin-top:-5px;
}
#nav div:nth-child(1) a:hover +span{
  width:100%;
}
#nav div:nth-child(2) a:hover +span{
  width:100%;
}

#nav div:nth-child(3) a{
  background-color:#2980b9;
  padding:8px;
  padding-right:15px;
  padding-left:15px;
  color:#fff;
  border-radius:8px;
  border:2px solid #2980b9;
  letter-spacing:2px;
}
#nav div:nth-child(4) a{
  background-color:#8e44ad;
  padding:8px;
  padding-right:15px;
  padding-left:15px;
  color:#f8f8ff;
  border-radius:8px;
  border:2px solid #8e44ad;
  letter-spacing:2px;
}
#nav div:nth-child(3) a:hover{
background-color:transparent;
color:#2980b9;
}
#nav div:nth-child(4) a:hover{
background-color:transparent;
color:#8e44ad;
}
body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#intro h1{
   font-family:raleway;
   font-size:3rem;
   color:#616161;
   letter-spacing:1px;
   line-height:68px;
   margin:0px;
   padding-bottom:22px;
   font-weight:600;
}
#intro #det{
width:60%;
margin-left:5%;
}
#intro span{
  color:#3498db;
}
#intro{
  width:90%;
  top:30vh;
  display:flex;
  margin-left:5%;
  position: relative;
}
#intro #images{
  width:40%;
  margin-top:-12vh;
  padding-left:10%;
}
#intro #images img{
border-radius:50%;
position:absolute;
}
#intro #images img:nth-child(1){
margin-left:100px;
width:200px;
border:9px solid #E4E7E8;
animation:updown1 5s ease infinite alternate;
}
#intro #images img:nth-child(2){
margin-top:200px;
margin-left:248px;
width:140px;
border:12px solid #E4E7E8;
animation:updown2 5s ease infinite alternate;
}
#intro #images p{
  font-family:raleway;
  font-size:1rem;
  color:#342e37;
  letter-spacing:3px;
  display:inline-block;
  position: absolute;
  line-height:20px;
}
#intro #images img:nth-child(3){
  margin-left:342px;
  margin-top:50px;
  width:80px;
  border:15px solid #E4E7E8;
  animation:updown3 5s ease infinite alternate;
}
#intro #images img:nth-child(4){
  margin-top:200px;
  border:13px solid #E4E7E8;
  width:130px;
  animation:updown4 5s ease infinite alternate;
}
#intro #images p:nth-child(5){
  margin-left:-100px;
  margin-top:-20px;
  animation:updown1 5s ease infinite alternate;
}
#intro #images p:nth-child(6){
  margin-left:330px;
  margin-top:-19px;
  animation:updown2 5s ease infinite alternate;
}
#intro #images p:nth-child(7){
   margin-top:370px;
   margin-left:300px;
   animation:updown3 5s ease infinite alternate;
}
#intro #images p:nth-child(8){
  margin-top:350px; 
  margin-left:-100px;
  animation:updown4 5s ease infinite alternate;
}
@keyframes updown1{
  from{
    transform:translateY(0px);
  }
  to{
    transform:translateY(10px);
  }
}
@keyframes updown2{
  from{
    transform:translateY(0px);
  }
  to{
    transform:translateY(40px);
  }
}
@keyframes updown3{
  from{
    transform:translateY(0px);
  }
  to{
    transform:translateY(30px);
  }
}
@keyframes updown4{
  from{
    transform:translateY(0px);
  }
  to{
    transform:translateY(20px);
  }
}

#nav span{
    color:#2980b9;
   font-family:'Raleway', sans-serif;
}
#intro button{
  padding:10px;
  padding-right:13px;
   padding-left:13px;
font-size: 1.3rem;
background-color:#515152;
color:#fff;
font-family:ubuntu;
border-radius:8px;
border:2px solid #515152;
cursor:pointer;
font-weight:normal;
letter-spacing:1px;
}
#intro button:hover{
background-color:transparent;
color:#515152;
}
#intro p{
  font-size: 1rem;
  margin-left:10px;
}
#bot{
  display:flex;
  align-items:flex-end;
  flex-wrap:wrap;
}
#bot p{
  display:flex;
  align-items:center;
   font-size: 1.4em;
   margin:0px;
  margin-left:10px;
}
#bot span{
  display:flex;
  color: #e74c3c;
  margin-left:5px;
  font-size: 1.6em;
}
#scroll{
  position:absolute;
  width:100%;
  display:flex;
  justify-content:center;
  top:90vh;
}
#scroll img{
  width:40px;
  animation:blink 2s linear infinite alternate;
}
@keyframes blink{
  from{opactiy:1;}
  to{opacity:0.5}
}
#optionc{
  width:100%;
  top:62vh;
  background-color:#515152;
  height:120px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
#optionc p{
  font-size:1.4rem;
  color:#fff;
  font-family:arvo;
  letter-spacing:1px;
}
#optionc button{
  padding:10px;
  padding-right:13px;
   padding-left:13px;
font-size: 1.4em;
background-color:#515152; 
color:#fff;
font-family:ubuntu;
border-radius:8px;
border:2px solid #fff;
cursor:pointer;
font-weight:bold;
letter-spacing:1px;
margin-left:10px;
}
#optionc button:hover{
color:#515152;
background-color:#fff;
}
#tweaks{
  margin-top:40px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  margin-bottom:20px;
}
#con,#ui,#feat,#prod{
flex-basis:24%;
display:flex;
font-family:ubuntu;
cursor:pointer;
border-radius:7px;
align-items:center;
justify-content:center;
}

#tweaks .name{
  position:absolute;
  max-width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  max-height:100%;
  transition-timing-function:ease ;
  flex-wrap: wrap;
}
#headt{
  display:flex;
  width:100%;
  justify-content:center;
  margin-bottom:20px;
}

#headt h1{
  text-align:center;
  font-size:3rem;
  border-bottom:4px solid white;
  letter-spacing:3px;
  padding:10px;
  padding-right:15px;
  padding-left:15px;
  font-family: ubuntu ;
  margin-bottom:50px;
}
#tweaks .name h2{
font-size: 2rem;
color:#fff;
flex-basis:100%;
text-align:center;
letter-spacing:2px;
}
#tweaks .name img{
width:75px;
}
.detail{
 visibility: hidden;
 padding:10px;
 text-align: center;
 width:100%;
 transition-timing-function:ease;
 align-items:center;
 }
.detail h3{
font-size: 2.1em;
vertical-align:middle;
margin-bottom:12px;
margin-top: 12px;
color:#fff;
}
.detail p{
font-size: 1.5em;
line-height:25px;
margin-bottom:10px;
margin-top:10px;
color:#fff;
}

#prod:hover>.detail{
  visibility:visible;
}
#prod:hover>.name{
  visibility:hidden;
}
#con:hover>.detail{
  visibility:visible;
}
#con:hover>.name{
  visibility:hidden;
}
#ui:hover>.detail{
  visibility:visible;
}
#ui:hover>.name{
  visibility:hidden;
}
#feat:hover>.detail{
  visibility:visible;
}
#feat:hover>.name{
  visibility:hidden;
}
#template{
  top:84vh;
  display:flex;
  justify-content:space-around;
  font-family:raleway;
  position: relative;
}
#template #info{
  padding:10px;
  padding-left:7%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
#opt{
  padding:5px;
  padding-left: 10px;
}
#info h3{
  margin-top:40px;
  margin-bottom:0px;
  font-size: 2rem;
}
#info p{
  margin-top:0px;
  font-size:1.2rem;
  line-height:25px;
}
#button{
display:flex;
flex-wrap:wrap;
}
#button span{
  display:flex;
  justify-content:center;
  flex-basis:100%;
  padding:5px;
}
#opt p{
  margin-left:150px;
  font-size:1rem;
}
#button button {
font-size:1.3rem;
padding:10px;
padding-left:15px;
padding-right:15px;
color:#fff;
background-color:#2ecc71;
border:none; 
font-weight:bold;
border-radius:3px;
cursor:pointer;
margin-bottom:8px;
}
#button button:hover{
  background-color:#27ae60;
}
#stats{
  top:120vh;
  display:flex;
  flex-wrap:wrap;
  background: linear-gradient(to right,#5C258D,#4389A2);
  color:#fff;
  font-family:raleway;
  position:relative;
}
#head,#numbers{
  flex-basis:90%;
  justify-content:center;
  padding-left:5%;
  padding-right:5%;
  padding-top:20px;
}
#head{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin-bottom:25px;
}
#head h2,#head h4{
  text-align: center;
}
#head h2{
  font-size:2.5rem;
  letter-spacing:2px;
  display:flex;
  padding-bottom:5px;
  border-bottom:3px solid #fff;
}
#head h4{
  margin-top:60px;
font-size:1.2rem;
letter-spacing:2px;
margin-top:0px;
}
#head div{
  display:flex;
  width:100%;
  justify-content: center;
}
#numbers{
  padding-top:50px;
  display:flex;
  justify-content:space-around;
  padding-bottom:100px;
}
#numbers div{
  border: 2px solid #bdc3c7;
  flex-basis:22%;
  text-align:center;
  height:193px;
}
#numbers h2{
  font-size: 3rem;
  letter-spacing:2px;
}
#numbers p{
  font-size: 1.5rem;
  letter-spacing:2px;
  font-weight:500;
}
#steps {
width:90%;
margin-left:5%;
margin-right:5%;
display:flex;
justify-content:space-between;
font-family:ubuntu;
flex-wrap:wrap;
margin-top:10px;
}
#steps .h{
  flex-basis:100%;
  justify-content:center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-left:5%;
  margin-bottom:20px;
}
#steps .h h3{
  font-size: 3rem;
    color:#fff;
  font-family:Ubuntu;
  padding:8px;
  padding-left:10px;
  padding-right:10px;
  letter-spacing:1.5px;
  font-weight:bold;
  border-bottom:5px solid #fff;
}
#steps .stepn{
flex-basis:22%;
}
#steps .imgs{
  display:flex;
  justify-content:center;
}
#steps img{
  width:220px;
  height:220px;
}
#steps .stepin{
padding:5px;
display:flex;
flex-wrap:wrap;
}
#steps .stepin h3{
  font-size: 1.35rem;
  letter-spacing:1.3px;
  color:#f39c12;
  text-align:center;
  flex-basis:100%;
  margin-bottom:5px;
}
#steps .stepin h4{
font-size:1.1rem;
line-height:25px;
letter-spacing:1px;
text-align:center;
font-family: lato;
margin-top:10px;
color:#fff;
}

#stats #social{
display:flex;
width:90%;
margin-left:5%;
justify-content:center;
flex-wrap:wrap;
font-family:ubuntu;
margin-bottom:50px;
}

#social .blocks{
background-color:#fff;
flex-basis:28%;
border-radius:4px;
margin-bottom:50px;
border:2.5px solid #696773;
padding:10px;
margin-left:12px;
margin-right:12px;
}
.social{
  flex-basis:100%;
  display:flex;
  justify-content:center;
}
.social h2{
  font-size:3rem;
  letter-spacing:1px;
  margin-bottom:100px;
  font-family:ubuntu;
  color:#fff;
  padding-top:15px; 
  padding-bottom:8px;
  padding-left:30px; 
  padding-right:30px;
  border-radius:3px;
  border-bottom:5px solid #fff;
}
.person img:nth-child(1){
  width:50px;
}
.person img:nth-child(2){
  width:10px;
}
#social .person{
display:flex;
justify-content:space-around;
}
#social .personin h3{
  color:#1D1E24;
  letter-spacing:1.3px;
  font-size: 1.3rem;
  font-weight:bold;
  margin-bottom:0px;
}
#social .personin h4{
  margin-top:5px;
  color:#9f9ea5;
  letter-spacing:2px;
  font-size: 1rem;
}
#social .personmes h3{
  color:#2d2f3a;
  font-size:1.3rem;
  font-weight:normal;
  letter-spacing:2px;
  margin-top:0px;
  text-align: center;
  line-height:27px;
}
#social .personmes{
  padding-left:5%;
  padding-right:5%;
}
#footer{
  background-color:#333;
  width:100%;
  height:320px;
  display:flex;
  font-family:lato;
  justify-content:space-between;
}
#footer h1{
  font-size:1.45rem;
  letter-spacing:1px;
  border-bottom:3px dotted #0B517F;
  padding-bottom:10px;
  padding-left:5px;
  font-weight:400;
}
#footer div{
  flex-basis:22%;
  padding:15px;
}
#footer p{
  letter-spacing:1.2px;
  line-height:24px;
  font-size: 1rem;
}
#footer a{
  color:#fff;
  font-size: 1rem;
  display:block;
  padding-bottom:4px;
  border:0;
  border-bottom:1px dotted #CCCCCC;
  text-decoration:none;
}
#contactus p{
  display:flex;
}
#contactus a{
  border:none;
  cursor:pointer;
  padding-left:10px;
}
#contactus img{
  padding-left:4px; 
}
#startup a{
  border:none;
}
#startup img{
  margin-top:30px;
  margin-left:20px; 
}
#copyright{
  width:100%;
  font-size: 1.1rem;
  padding-left:2%;
  background-color:#232323;
  font-family: roboto;
  letter-spacing:1px;
  text-decoration:none;
}
#copyright a{
   text-decoration:none;
   color:#fff;
}
#footer a:hover{
  color:#3498db;
}
#copyright a:hover{
  color:#3498db;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
/* ---- particles.js container ---- */

#particles-js {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index:1;
}

/*media query*/
@media (max-width:1307px) {
  #intro #det{
    width:50%;
    margin-left:0%;
  }
  #intro button{
font-size: 1.1rem;
  }
  #intro h1{
    font-size: 2.5rem;
    padding-bottom:0px;
  }
  #intro #images{
    width:50%;
  }
  #bot p{
    font-size: 0.9rem;
  }
}
@media (max-width:1092px){
  #intro h1{
    line-height:50px;
    padding-bottom:10px;
  }
}
