*{
  z-index:2;
  position:relative;
}
nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  width:100%;
  height:100%;
}
header{
  width:100%;
  height:70px;
}
#logo{
flex:1;
display:flex;
justify-content:center;
align-items:center;
width: 100%;
height: 100%;
}
#nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  flex:3;
  margin-right:2%;
}
#logo img{
 width:170px;
}
#logo a{
  padding-left:23%;
}
#nav div{
justify-content:space-between;
margin-left: 2%;
margin-right: 2%;
justify-content: center;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display:flex;
}
#nav a{
  text-align:center;
  display:inline-block;
  font-size:1.4em;
  font-family:'Raleway', sans-serif;
  font-weight:bold;
  letter-spacing:2px;
  color:#000;
  padding:10px;
  padding-right:15px;
  padding-left:15px;
  cursor:pointer;
}
#nav div span{
  width:0%;
  height:2px;
  background-color:#e67e22;
  position:absolute;
  z-index:2;
  top:85%;
  transition:width 0.3s;
}
#nav div:nth-child(1) a:hover +span{
  width:100%;
}
#nav div:nth-child(2) a:hover +span{
  width:100%;
}

#nav div:nth-child(3) a{
  background-color:#2980b9;
  padding:10px;
  padding-right:15px;
  padding-left:15px;
  color:#fff;
  border-radius:8px;
  border:2px solid #2980b9;
}
#nav div:nth-child(4) a{
  background-color:#8e44ad;
  padding:10px;
  padding-right:15px;
  padding-left:15px;
  color:#f8f8ff;
  border-radius:8px;
  border:2px solid #8e44ad;
}
#nav div:nth-child(3) a:hover{
background-color:transparent;
color:#2980b9;
}
#nav div:nth-child(4) a:hover{
background-color:transparent;
color:#8e44ad;
}
body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#intro h1{
   font-family:'Raleway', sans-serif;
   font-size:5em;
   color:#252526;
   letter-spacing:1px;
   line-height:75px;
   margin:0px;
   padding-bottom:22px;
   font-weight:bold;
}
#intro span{
  color:#3498db;
}
#intro{
  width:80%;
  top:43%;
  left:14%;
  display:inline-block;
  position:absolute;
}
#nav span{
    color:#2980b9;
   font-family:'Raleway', sans-serif;
}
#intro button{
  padding:10px;
  padding-right:13px;
   padding-left:13px;
font-size: 2em;
background-color:#515152;
color:#fff;
font-family:ubuntu;
border-radius:8px;
border:2px solid #515152;
cursor:pointer;
font-weight:bold;
letter-spacing:1px;
}
#intro button:hover{
background-color:transparent;
color:#515152;
}
#intro p{
  font-size: 1.4em;
  margin-left:10px;
}
#bot{
  display:flex;
  align-items:flex-end;
}
#bot p{
  display:flex;
  align-items:center;
   font-size: 1.4em;
   margin:0px;
  margin-left:10px;
}
#bot span{
  display:flex;
  color: #e74c3c;
  margin-left:5px;
  font-size: 1.6em;
}
#optionc{
  position:absolute;
  width:100%;
  top:102%;
  background-color: #515152;
  height:120px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#optionc p{
  font-size:1.4rem;
  color:#fff;
  font-family:arvo;
  letter-spacing:1px;
}
#optionc button{
  padding:10px;
  padding-right:13px;
   padding-left:13px;
font-size: 1.4em;
background-color:#515152;
color:#fff;
font-family:ubuntu;
border-radius:8px;
border:2px solid #fff;
cursor:pointer;
font-weight:bold;
letter-spacing:1px;
margin-left:10px;
}
#optionc button:hover{
color:#515152;
background-color:#fff;
}
#tweaks{
  position:absolute;
  display:flex;
  top:150%;
  flex-wrap:wrap;
  justify-content:space-around;
}
#con,#ui,#feat,#prod{
flex-basis:24%;
margin-bottom:8%;
display:flex;
font-family:ubuntu;
cursor:pointer;
}
#con{
  background-color:#1abc9c;
}
#ui{
  background-color:#3498db;
}
#feat{
  background-color:#f1c40f;
}
#prod{
  background-color: #e74c3c;
}
#tweaks .name{
  position:absolute;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  transition-timing-function:ease ;
  flex-wrap: wrap;
}
#tweaks .name h2{
font-size: 3.3em;
color:#fff;
flex-basis:100%;
text-align:center;
}
#tweaks .name img{
width:75px;
margin-top:-151px;
}
.detail{
 visibility: hidden;
 padding:10px;
 text-align: center;
 width:100%;
 transition-timing-function:ease;
 align-items:center;
 }
.detail h3{
font-size: 2.1em;
vertical-align:middle;
margin-bottom:12px;
margin-top: 12px;
color:#fff;
}
.detail p{
font-size: 1.5em;
line-height:25px;
margin-bottom:10px;
margin-top:10px;
color:#fff;
}
#prod:hover>.detail{
  visibility:visible;
}
#prod:hover>.name{
  visibility:hidden;
}
#con:hover>.detail{
  visibility:visible;
}
#con:hover>.name{
  visibility:hidden;
}
#ui:hover>.detail{
  visibility:visible;
}
#ui:hover>.name{
  visibility:hidden;
}
#feat:hover>.detail{
  visibility:visible;
}
#feat:hover>.name{
  visibility:hidden;
}
#template{
  top:230%;
  display:flex;
  justify-content:space-around;
  font-family:raleway;
  position:absolute;
}
#template #info{
  padding:10px;
  padding-left:7%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
#opt{
  padding:5px;
  padding-left: 10px;
}
#info h3{
  margin-top:40px;
  margin-bottom:0px;
  font-size: 2rem;
}
#info p{
  margin-top:0px;
  font-size:1.2rem;
  line-height:25px;
}
#button{
display:flex;
flex-wrap:wrap;
}
#button span{
  display:flex;
  justify-content:center;
  flex-basis:100%;
  padding:5px;
}
#opt p{
  margin-left:150px;
  font-size:1rem;
}
#button button {
font-size:1.3rem;
padding:7px;
padding-left:15px;
padding-right:15px;
color:#fff;
background-color:#2ecc71;
border:none; 
font-weight:bold;
border-radius:3px;
cursor:pointer;
}
#button button:hover{
  background-color:#27ae60;
}
#stats{
  top:280%;
  display:flex;
  flex-wrap:wrap;
  background: linear-gradient(to right,#5C258D,#4389A2);
  color:#fff;
  font-family:raleway;
}
#head,#numbers{
  flex-basis:90%;
  justify-content:center;
  padding-left:5%;
  padding-right:5%;
  padding-top:20px;
}
#head{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
#head h2,#head h4{
  flex-basis:100%;
  text-align: center;
}
#head h2{
  font-size:2.5rem;
  letter-spacing:2px;
}
#head h4{
font-size: 1.2rem;
letter-spacing:2px;
}
#head span{
background-color:white;
width:100px;
height:5px;
position:absolute;
bottom:-15px;
left:46%;
}
#numbers{
  padding-top:50px;
  display:flex;
  justify-content:space-around;
  padding-bottom:100px;
}
#numbers div{
  border: 2px solid #bdc3c7;
  flex-basis:22%;
  text-align:center;
  height:193px;
}
#numbers h2{
  font-size: 3rem;
  letter-spacing:2px;
}
#numbers p{
  font-size: 1.5rem;
  letter-spacing:2px;
  font-weight:500;
}











.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}



















/* ---- particles.js container ---- */

#particles-js {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index:1;
}



